#board {
    height: 560px;
    width: 560px;
}

section > div {
    display: flex;
    height: 70px;
    width: 560px;
}

.possible {
    background-color: black;
    height: 70px;
    width: 70px;
}

.not-possible {
    background-color:white;
    height: 70px;
    width: 70px;
}

.team-1 {
    background-color: pink;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.team-2 {
    background-color:blueviolet;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

#selected {
    background-color: green;
}





